* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  text-transform: capitalize;
}

.icon-btn {
  width: 0.75rem;
  height: 0.75rem;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  margin: 0 5px;
}

button,
button:focus,
button:active,
.btn {
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}

header {
  text-align: center;
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
@media only screen and (max-width: 375px) {
  header h1 {
    font-size: 2rem;
  }
}

.TaskForm {
  margin-bottom: 50px;
}
.TaskForm form {
  border: 2px solid rgba(255, 210, 198, 0.8);
  border-radius: 5px;
}
.TaskForm form .heading {
  background-color: rgba(255, 210, 198, 0.4);
  color: #332521;
  padding: 8px 15px;
  text-align: left;
  position: relative;
}
.TaskForm form .heading .close-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.TaskForm form .heading .close-icon:hover, .TaskForm form .heading .close-icon:active {
  opacity: 0.6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.TaskForm form .form-content {
  padding: 20px;
}
.TaskForm form .form-content .form-item {
  margin-bottom: 10px;
  width: 100%;
}
.TaskForm form .form-content .form-item input,
.TaskForm form .form-content .form-item select {
  width: 100%;
  height: 35px;
  padding: 0 10px;
}
.TaskForm form .form-content .form-item select {
  color: #333;
  margin-bottom: 20px;
}
.TaskForm form .form-content label {
  font-size: 1.05rem;
  font-weight: 500;
  display: block;
}
.TaskForm form .button-group {
  text-align: center;
}
.TaskForm form .button-group .btn {
  text-align: center;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 10px;
}

.main-content .FormControl .add-btn {
  margin-bottom: 1rem;
}
.main-content .FormControl .control {
  position: relative;
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
}
.main-content .FormControl .control .Search {
  width: 70%;
  margin-right: 20px;
}
.main-content .FormControl .control .Search input {
  width: 80%;
  height: 44px;
  padding: 8px 14px;
}
.main-content .FormControl .control .Search .search-btn {
  height: 44px;
  position: absolute;
  border-radius: 0;
}
.main-content .FormControl .control .Sort .btn-group {
  height: 44px !important;
}
.main-content .FormControl .control .Sort .sort-icon {
  width: 20px;
  height: 20px;
}
.main-content .FormControl .control .Sort span {
  font-weight: 500;
  margin-left: 10px;
}
@media only screen and (max-width: 480px) {
  .main-content .FormControl .control {
    display: block;
  }
  .main-content .FormControl .control .Sort {
    margin-top: 24px;
  }
}
.main-content .List {
  text-align: center;
}
.main-content .List .filter input,
.main-content .List .filter select {
  width: 100%;
  height: 35px;
  padding-left: 15px;
}
.main-content .List .name-task {
  max-width: 200px;
}
.main-content .List .name-task p {
  text-align: left;
  word-wrap: break-word;
  max-width: 100%;
  margin: 0;
}
.main-content .List .td-status,
.main-content .List .td-btn {
  text-align: center;
}
.main-content .List .td-status .btn:first-child,
.main-content .List .td-btn .btn:first-child {
  margin-right: 20px;
}
.main-content .List .td-status .status-icon,
.main-content .List .td-btn .status-icon {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 500px) {
  .main-content .List .td-btn {
    text-align: center;
  }
  .main-content .List .td-btn .btn {
    display: block;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=App.css.map */
